.slideShowContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.slideShowImg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.slideShowOverlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    p {
        margin-left: 120px;
        max-width: 800px;
        color: white;
        font-size: 80px;
        border-left: 8px solid #d85050;
    }
}