@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local(""), url("assets/fonts/Open Sans/static/OpenSans/OpenSans-Bold.ttf") format("ttf");
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}